.courses-horizontal {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.courses-menu {
  width: 85%;
  margin: auto;
  display: block;
  height: 50px;
}

.courses-menu__item {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  height: 50px;
}


.courses-list {
  width: 85%;
  margin: auto;
  list-style-type: none;

}

.courses-list__item {

  width: auto;
  height: 250px;
}


.courses-list__item-title {
  font-size: 24px;
  width: auto;
  height: 30px;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.courses-list__item-content {
  display: block;
}

.courses-list__item-image {
  margin-left: 20px;
  height: 120px;
  width: 120px;
  display: inline-block;
}

.courses-list__item-description {
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
  width: 70%;
  display: inline-block;
}

.courses-list__item-buy {
  width: 250px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 20px;

  vertical-align: bottom;
  float: right;
}



.courses-list__item-buy-price {
  width: 150px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: right;
  padding-right: 20px;

 }

.courses-list__item-buy-button {
  width: 100px;
  height: 40px;
  display: inline-block;
}

.courses-list__item-buy-remove {
  width: 100px;
  height: 40px;
  display: inline-block;
}
