.horizontal {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}


.courses-list {
  width: 85%;
  margin: auto;
  list-style-type: none;

}

.courses-list__item {

  width: auto;
  height: 250px;
  position: relative;
}


.courses-list__item-title {
  font-size: 24px;
  width: auto;
  height: 30px;
  display: block;
  margin-top: 10px;
  text-align: center;
}

.courses-list__item-content {
  display: block;
}

.courses-list__item-image {
  margin-left: 20px;
  height: 120px;
  width: 120px;
  display: inline-block;
}

.courses-list__item-description {
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: top;
  width: 70%;
  display: inline-block;
}

.courses-list__item-buy {
  width: 200px;
  height: 40px;
  margin-bottom: 20px;
  margin-right: 20px;
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.courses-list__item-buy-price {
  width: 100px;
  height: 40px;
  display: inline-block;
}

.courses-list__item-buy-button {
  width: 100px;
  height: 40px;
  display: inline-block;
}
